[Unit]
Description=Rust Rocket Web Application Durux website
[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/deploy/apps/rustapp/drxplayer/
Environment="ROCKET_ENV=prod"
Environment="ROCKET_ADDRESS=0.0.0.0"
Environment="ROCKET_PORT=8000"
Environment="ROCKET_LOG=critical"
ExecStart=/home/deploy/apps/rustapp/drxplayer/target/release/drxplayer
[Install]
WantedBy=multi-user.target
